In [1]:
import datetime as dt
from sqlalchemy import *
from sqlalchemy import exc
from scraping.basketball_reference import *
from scraping.sbr_betting import *
from scraping.sbr_game_order import *
from db_inserter.table_transformer import *
from dateutil.relativedelta import *

In [2]:
DB_URL = 'postgresql://pdg2116:f5ih31DBMB@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111'
engine = create_engine(DB_URL)

In [37]:
# Variables
game_id = '201904130GSW'
side = 'U'
bt_id = 2

In [39]:
dir = 'ASC' if bt_id == 2 and side == 'O' else 'DESC'
statement = """
    SELECT *
    FROM make_odds as m
    WHERE m.g_id = '{g_id}'
    AND m.bt_id = {bt_id}
    AND m.odds_side = '{side}'
    ORDER BY m.odds_line {dir}, m.odds_payout DESC;
    """.format(g_id=game_id, bt_id=bt_id, side=side, dir=dir)

In [46]:
engine.execute(statement).fetchone()

(18, '201904130GSW', 1, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'U', 1.917, 234.0)

In [41]:
df

,o_id,g_id,sb_id,bt_id,odds_time,odds_side,odds_payout,odds_line
0,18,201904130GSW,1,2,2019-04-13 14:00:02.717629,U,1.917,234.0
1,66,201904130GSW,3,2,2019-04-13 14:00:02.717629,U,1.909,234.0
2,90,201904130GSW,4,2,2019-04-13 14:00:02.717629,U,1.909,234.0
3,114,201904130GSW,5,2,2019-04-13 14:00:02.717629,U,1.909,234.0
4,234,201904130GSW,10,2,2019-04-13 14:00:02.717629,U,1.909,234.0
5,186,201904130GSW,8,2,2019-04-13 14:00:02.717629,U,1.909,234.0
6,210,201904130GSW,9,2,2019-04-13 14:00:02.717629,U,1.909,234.0
7,42,201904130GSW,2,2,2019-04-13 14:00:02.717629,U,1.952,233.5
8,138,201904130GSW,6,2,2019-04-13 14:00:02.717629,U,1.952,233.5
9,162,201904130GSW,7,2,2019-04-13 14:00:02.717629,U,1.909,233.5

In [20]:
df = store_betting_data()
df

game_time > '2019-04-14' AND game_time < '2019-04-15 11:27:27

,game_times,away_team,home_team,away_ml_oid,away_ml_pay,home_ml_oid,home_ml_pay,away_ps_oid,away_ps_line,away_ps_pay,home_ps_oid,home_ps_line,home_ps_pay,over_oid,over_line,over_pay,under_oid,under_line,under_pay
0,Sun Apr 14 13:00:00 2019,Indiana Pacers,Boston Celtics,2621,3.68,2656,1.339,2643,7.0,1.971,2751,-7.0,1.952,2645,209.5,1.980,2729,210.0,1.909
1,Sun Apr 14 21:30:00 2019,Utah Jazz,Houston Rockets,2725,3.40,2641,1.408,2748,6.5,1.952,2640,-6.5,1.990,2654,214.0,1.980,2738,214.5,1.909
2,Sun Apr 14 19:00:00 2019,Detroit Pistons,Milwaukee Bucks,2722,13.75,2638,1.100,2626,13.0,1.952,2637,-13.0,1.952,2747,218.0,1.952,2663,218.5,1.952
3,Sun Apr 14 15:30:00 2019,Oklahoma City Thunder,Portland Trail Blazers,2647,2.43,2731,2.450,2742,3.5,1.952,2730,-3.0,1.870,2744,225.0,1.952,2660,225.0,1.980

In [19]:
def get_best_bet(game_id, bt_id, side):
    dir = 'ASC' if bt_id == 2 and side == 'O' else 'DESC'
    statement = """
    SELECT o_id, odds_line, odds_payout
    FROM make_odds as m
    WHERE m.g_id = '{g_id}'
    AND m.bt_id = {bt_id}
    AND m.odds_side = '{side}'
    ORDER BY m.odds_line {dir}, m.odds_payout DESC;
    """.format(g_id=game_id, bt_id=bt_id, side=side, dir=dir)
    return engine.execute(statement).fetchone()


def db_select(statement):
    return pd.read_sql(statement, engine)

def get_betting_data():
    return pd.read_csv('betting_data.csv')

def store_betting_data():
    lower = dt.datetime.now().strftime('%Y-%m-%d')
    upper = (dt.datetime.now() + dt.timedelta(days=1)).strftime('%Y-%m-%d %H:%M:%S')
    bounds = """game_time > '""" + lower + "' AND game_time < '" + upper
    print(bounds)
    games_statement = """SELECT * FROM game WHERE {b}';""".format(b=bounds)
    bet_statement = """
    SELECT *
    FROM make_odds
    WHERE make_odds.g_id in (
        SELECT game.g_id
        FROM game
        WHERE {b}');""".format(b=bounds)
    df = clean_display_data(db_select(games_statement), db_select(bet_statement))
    return df

def clean_display_data(game_df, bet_df):
    teams = db_select("""SELECT * FROM team;""")
    teams = dict(zip(teams.t_id, teams.name))
    game_df[['t_id_home', 't_id_away']] = game_df.iloc[:, -2:].applymap(lambda x: teams[x])

    game_times = game_df.game_time.map(lambda x: dt.datetime.strftime(x, '%c')).values
    away_team = game_df.t_id_away
    home_team = game_df.t_id_home
    away_ml = [get_best_bet(x, bt_id=1, side='V') for x in game_df.g_id.values]
    home_ml = [get_best_bet(x, bt_id=1, side='H') for x in game_df.g_id.values]
    away_ps = [get_best_bet(x, bt_id=3, side='V') for x in game_df.g_id.values]
    home_ps = [get_best_bet(x, bt_id=3, side='H') for x in game_df.g_id.values]
    over = [get_best_bet(x, bt_id=2, side='O') for x in game_df.g_id.values]
    under = [get_best_bet(x, bt_id=2, side='U') for x in game_df.g_id.values]
    df = pd.DataFrame(data={'game_times': game_times,
                            'away_team': away_team,
                            'home_team': home_team,
                            'away_ml_oid': [x[0] for x in away_ml],
                            'away_ml_pay': [x[2] for x in away_ml],
                            'home_ml_oid': [x[0] for x in home_ml],
                            'home_ml_pay': [x[2] for x in home_ml],
                            'away_ps_oid': [x[0] for x in away_ps],
                            'away_ps_line': [x[1] for x in away_ps],
                            'away_ps_pay': [x[2] for x in away_ps],
                            'home_ps_oid': [x[0] for x in home_ps],
                            'home_ps_line': [x[1] for x in home_ps],
                            'home_ps_pay': [x[2] for x in home_ps],
                            'over_oid': [x[0] for x in over],
                            'over_line': [x[1] for x in over],
                            'over_pay': [x[2] for x in over],
                            'under_oid': [x[0] for x in under],
                            'under_line': [x[1] for x in under],
                            'under_pay': [x[2] for x in under],
                            })
    return df

In [16]:
df

,game_times,away_team,home_team,away_ml_oid,away_ml_pay,home_ml_oid,home_ml_pay,away_ps_oid,away_ps_line,away_ps_pay,home_ps_oid,home_ps_line,home_ps_pay,over_oid,over_line,over_pay,under_oid,under_line,under_pay
0,Sat Apr 13 22:30:00 2019,San Antonio Spurs,Denver Nuggets,104,3.10,20,1.452,103,6.0,1.870,19,-5.5,1.980,10,211.0,2.000,69,211.5,1.893
1,Sat Apr 13 20:00:00 2019,Los Angeles Clippers,Golden State Warriors,77,9.75,41,1.100,100,13.5,1.870,136,-13.0,1.952,126,233.5,1.952,18,234.0,1.917
2,Sat Apr 13 14:30:00 2019,Brooklyn Nets,Philadelphia 76ers,23,3.40,155,3.300,118,7.0,1.952,106,-6.5,1.952,192,227.0,1.909,132,227.5,1.952
3,Sat Apr 13 17:00:00 2019,Orlando Magic,Toronto Raptors,74,4.85,38,1.238,121,9.5,1.952,37,-9.0,1.926,27,212.0,1.935,135,212.5,1.952

In [3]:
df = pd.read_sql("SELECT * FROM make_odds;", engine)