In [10]:
import datetime as dt
from sqlalchemy import *
from sqlalchemy import exc
from scraping.basketball_reference import *
from scraping.sbr_betting import *
from scraping.sbr_game_order import *
from db_inserter.table_transformer import *
from dateutil.relativedelta import *

In [3]:
DB_URL = 'postgresql://pdg2116:f5ih31DBMB@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111'
engine = create_engine(DB_URL)

In [37]:
# Variables
game_id = '201904130GSW'
side = 'U'
bt_id = 2

In [39]:
dir = 'ASC' if bt_id == 2 and side == 'O' else 'DESC'
statement = """
    SELECT *
    FROM make_odds as m
    WHERE m.g_id = '{g_id}'
    AND m.bt_id = {bt_id}
    AND m.odds_side = '{side}'
    ORDER BY m.odds_line {dir}, m.odds_payout DESC;
    """.format(g_id=game_id, bt_id=bt_id, side=side, dir=dir)

In [46]:
engine.execute(statement).fetchone()

(18, '201904130GSW', 1, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'U', 1.917, 234.0)

In [41]:
df

,o_id,g_id,sb_id,bt_id,odds_time,odds_side,odds_payout,odds_line
0,18,201904130GSW,1,2,2019-04-13 14:00:02.717629,U,1.917,234.0
1,66,201904130GSW,3,2,2019-04-13 14:00:02.717629,U,1.909,234.0
2,90,201904130GSW,4,2,2019-04-13 14:00:02.717629,U,1.909,234.0
3,114,201904130GSW,5,2,2019-04-13 14:00:02.717629,U,1.909,234.0
4,234,201904130GSW,10,2,2019-04-13 14:00:02.717629,U,1.909,234.0
5,186,201904130GSW,8,2,2019-04-13 14:00:02.717629,U,1.909,234.0
6,210,201904130GSW,9,2,2019-04-13 14:00:02.717629,U,1.909,234.0
7,42,201904130GSW,2,2,2019-04-13 14:00:02.717629,U,1.952,233.5
8,138,201904130GSW,6,2,2019-04-13 14:00:02.717629,U,1.952,233.5
9,162,201904130GSW,7,2,2019-04-13 14:00:02.717629,U,1.909,233.5

In [93]:
betting_data = get_betting_data()

In [92]:
def select_all(table_name):
    return pd.read_sql("""SELECT * FROM """ + table_name + ";", engine)


def clean_display_data(game_df, bet_df):
    teams = db_select("""SELECT * FROM team;""")
    teams = dict(zip(teams.t_id, teams.name))
    game_df[['t_id_home', 't_id_away']] = game_df.iloc[:, -2:].applymap(lambda x: teams[x])

    game_times = game_df.game_time.map(lambda x: dt.datetime.strftime(x, '%c')).values
    away_team = game_df.t_id_away
    home_team = game_df.t_id_home

    away_ml = [get_best_bet(x, bt_id=1, side='V') for x in game_df.g_id.values]
    home_ml = [get_best_bet(x, bt_id=1, side='H') for x in game_df.g_id.values]
    away_ps = [get_best_bet(x, bt_id=3, side='V') for x in game_df.g_id.values]
    home_ps = [get_best_bet(x, bt_id=3, side='H') for x in game_df.g_id.values]
    over = [get_best_bet(x, bt_id=2, side='O') for x in game_df.g_id.values]
    under = [get_best_bet(x, bt_id=2, side='U') for x in game_df.g_id.values]
    return zip(game_times, away_team, home_team, away_ml, home_ml, away_ps, home_ps, over, under)
    # Link to deeper page


def get_best_bet(game_id, bt_id, side):
    dir = 'ASC' if bt_id == 2 and side == 'O' else 'DESC'
    statement = """
    SELECT *
    FROM make_odds as m
    WHERE m.g_id = '{g_id}'
    AND m.bt_id = {bt_id}
    AND m.odds_side = '{side}'
    ORDER BY m.odds_line {dir}, m.odds_payout DESC;
    """.format(g_id=game_id, bt_id=bt_id, side=side, dir=dir)
    return engine.execute(statement).fetchone()


def get_betting_data():
    lower = (dt.datetime.now() - dt.timedelta(days=1)).strftime('%Y-%m-%d')
    upper = dt.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    bounds = """game_time > '""" + lower + "' AND game_time < '" + upper
    games_statement = """SELECT * FROM game WHERE """ + bounds + "';"
    bet_statement = """
    SELECT *
    FROM make_odds
    WHERE make_odds.g_id in (
        SELECT game.g_id
        FROM game
        WHERE """ + bounds + "');"
    return clean_display_data(db_select(games_statement), db_select(bet_statement))


def db_select(statement):
    return pd.read_sql(statement, engine)

In [94]:
for i in betting_data:
    print(i)

('Sat Apr 13 20:00:00 2019', 'Los Angeles Clippers', 'Golden State Warriors', (77, '201904130GSW', 4, 1, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'V', 9.75, 0.0), (41, '201904130GSW', 2, 1, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'H', 1.1, 0.0), (100, '201904130GSW', 5, 3, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'V', 1.87, 13.5), (136, '201904130GSW', 6, 3, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'H', 1.952, -13.0), (126, '201904130GSW', 6, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'O', 1.952, 233.5), (18, '201904130GSW', 1, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'U', 1.917, 234.0))
('Sat Apr 13 14:30:00 2019', 'Brooklyn Nets', 'Philadelphia 76ers', (23, '201904130PHI', 2, 1, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'V', 3.4, 0.0), (155, '201904130PHI', 7, 1, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'H', 3.3, 0.0), (118, '201904130PHI', 6, 3, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'V', 1.952, 7.0), (106, '201904130PHI', 5, 3, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'H', 1.952, -6.5), (192, '201904130PHI', 9, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'O', 1.909, 227.0), (132, '201904130PHI', 6, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'U', 1.952, 227.5))
('Sat Apr 13 17:00:00 2019', 'Orlando Magic', 'Toronto Raptors', (74, '201904130TOR', 4, 1, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'V', 4.85, 0.0), (38, '201904130TOR', 2, 1, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'H', 1.238, 0.0), (121, '201904130TOR', 6, 3, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'V', 1.952, 9.5), (37, '201904130TOR', 2, 3, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'H', 1.926, -9.0), (27, '201904130TOR', 2, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'O', 1.935, 212.0), (135, '201904130TOR', 6, 2, datetime.datetime(2019, 4, 13, 14, 0, 2, 717629), 'U', 1.952, 212.5))

In [142]:
os.urandom(2)

b'\xc7\x13'

In [104]:
pd.read_sql("SELECT * FROM users;", engine)

   u_id  username first_name last_name password   balance
0     1  TESTUSER       TEST      USER     1234  100000.0